PINATA_API_KEY=fc5f28531752515febba
PINATA_API_SECRET=a1e58aca9b473a3eef3b6d7571e882d22a8307a5b042e985fbcb0958083d06a7
PINATA_API_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzN2NmMWYzYS04MGU5LTRhMjItOGVlMS01YmMxM2VlYjE2OWEiLCJlbWFpbCI6ImdvbGRlbi5zdGFyMDIyOEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJpZCI6IkZSQTEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlfSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZmM1ZjI4NTMxNzUyNTE1ZmViYmEiLCJzY29wZWRLZXlTZWNyZXQiOiJhMWU1OGFjYTliNDczYTNlZWYzYjZkNzU3MWU4ODJkMjJhODMwN2E1YjA0MmU5ODVmYmNiMDk1ODA4M2QwNmE3IiwiaWF0IjoxNjM0MTY4MzYyfQ.m3CxJTo9EtDWklAFBVicadtKp_MIH1joAzdnHeTBkXQ